@{
    ViewData["Title"] = "Dishes Home";
}
@model Dish
<div class="w-50 mx-auto">
    <form asp-action="create" asp-controller="Home" method="POST">
        <h1>Create a Dish!</h1>
        <label asp-for="DishName">Name of dish:</label>
        <input class="form-control" type="text" name="DishName" id="DishName">
        <span class="alert-danger" asp-validation-for="DishName"></span>
        <label asp-for="Tastiness">Level of Tastiness:</label>
        <input class="form-control" type="number" name="Tastiness" id="Tastiness" min="0" max="10">
        <span class="alert-danger" asp-validation-for="Tastiness"></span>
        <label asp-for="Calories">Calories:</label>
        <input class="form-control" type="number" name="Calories" id="Calories">
        <span class="alert-danger" asp-validation-for="Calories"></span>
        <label asp-for="Description">Description</label>
        <input class="form-control" type="text" name="Description" id="Description">
        <span class="alert-danger" asp-validation-for="Description"></span>
        <input class="btn btn-primary form-control" type="submit" name="submit" id="submit">
    </form>
</div>

